<div class="category mission">
    <div class="cat-title">
      <h2 class="cat-name">Summary of Qualifications</h2>
      <span class="cat-head-line"></span>
    </div>
    <div class="cat-body">

    {% for a in site.data.mission %}
    <div class="listing">
        <i class="fa fa-quote-left fa-pull-left"></i>
        <div class="list-item">
            <span class="refer-text">{{ a.text }}</span>
        </div>
    </div>
    {% endfor %}

    </div>
</div>

