
<!-- skills -->
  <div class="category skills">
    <div class="cat-title">
      <h2 class="cat-name">Skills</h2>
      <span class="cat-head-line"></span>
    </div>
    <div class="cat-body">

    {% for skill in site.data.skills %}
      <div class="listing">
        <i class="fa fa-tools fa-pull-left"></i>
        <div class="list-item">
          <h3 class="title">{{ skill.title }}</h3>
          <div class="list-more flex-horizontal">
          {% for item in skill.items %}
            <span class="item skill"><i class="fa fa-plus-square"></i>{{ item.name }}<span class="dull">{{ site.data.skill_captions[item.level] }}</span></span>
          {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>
<!-- end -->