<!-- work experience -->
  <div class="category work">
    <div class="cat-title">
      <h2 class="cat-name">Work</h2>
      <span class="cat-head-line"></span>
    </div>
    <div class="cat-body">

    {% for w in site.data.work %}
      <div class="listing">
        <i class="fa fa-briefcase fa-pull-left"></i>
        <div class="list-item">
          <h3 class="title">{{ w.title }}</h3>
          <div class="item-with-time">
            <span class="item"><h4>{{ w.org }}</h4></span>
            <span class="time">{{ w.startTime }}<span class="longdash"></span>{{ w.endTime }}</span>
          </div>
          <div class="list-more block">
            {{ w.desc }}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
<!-- end -->